<h5 class="bg-warning p-2 text-white text-center">CSS Highlighter</h5>

<p appCssBasics>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad praesentium, soluta temporibus at officiis ducimus rerum reiciendis mollitia deleniti voluptates, ex, qui debitis dicta? Nihil ipsa sequi error sed.
</p>
<h5 class="bg-warning p-2 text-white text-center">To Lower Case</h5>

<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="toLowerCase">ToLowerCase</label>
            <input appToLowerCase type="text" class="form-control" id="toLowerCase">
        </div>
    </div>
</div>

<h5 class="bg-warning p-2 text-white text-center">CSS Rendrer</h5>

<p appCssRendrer [hoverColor]="'yellow'">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad praesentium, soluta temporibus at officiis ducimus rerum reiciendis mollitia deleniti voluptates, ex, qui debitis dicta? Nihil ipsa sequi error sed.
</p>

<p appCssRendrer [hoverColor]="'pink'">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad praesentium, soluta temporibus at officiis ducimus rerum reiciendis mollitia deleniti voluptates, ex, qui debitis dicta? Nihil ipsa sequi error sed.
</p>

<p appCssRendrer [hoverColor]="'blue'">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad praesentium, soluta temporibus at officiis ducimus rerum reiciendis mollitia deleniti voluptates, ex, qui debitis dicta? Nihil ipsa sequi error sed.
</p>

<p appCssRendrer [hoverColor]="'red'">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ad praesentium, soluta temporibus at officiis ducimus rerum reiciendis mollitia deleniti voluptates, ex, qui debitis dicta? Nihil ipsa sequi error sed.
</p>